<div class="panel">
    
    <div class="panel-container" style="padding-top:12px; padding-bottom:15px;">
        <div class="col-lg-12">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            <table class="table table-bordered table-hover table-striped w-100 dataTable dtr-inline" style="width:100%;" id="secundaria_@ViewBag.SubCategoria">
                                <thead>

                                    <tr>

                                        <th>Causa de Falla</th>
                                        @*<th>Ubicación</th>
                                        <th>Activo</th>*@

                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>


</div>

<script>

    var idCategoria = @ViewBag.SubCategoria;
    console.log(`esto trae subcategoria ${idCategoria}`);

    var tabla_idCategoria = $(`#secundaria_${idCategoria}`).DataTable({

            autoWidth: true,
            responsive: true,
            language: {
                "emptyTable": "No se encontraron resultados.",
                //"searUrlh": '<div class="icon-addon addon-md"><label for="search" class="ion-search"></label>',
                "paginate": {
                    first: "Primero",
                    previous: "Anterior",
                    next: "Siguiente",
                    last: "Ultimo"
                },
                "lengthMenu": " _MENU_ ",
                "info": "Mostrando registros del _START_ al _END_ de _TOTAL_ registros totales.",
                "infoEmpty": "No hay registros para mostrar.",
            },

            //order: [[1, "desc"]],
            ajax: {
                url: '@Url.Action("DatosSubTablaCategoria", "CategoriaIndicadores")',
                data: {categoria: idCategoria},
                dataSrc: function (data) {
                    console.log(data);

                    return data;
                }
            },
            columns: [
                {
                    data: 'fcTipoRequerimiento'
                }
            ]

        });

</script>

