

<table class="table table-bordered" style="width:100%;">
    <tr>
        <th style="width:3%; text-align:middle; vertical-align:middle; color:#a90329;" class="text-center shown"> <i class="fa fa-truck fa-lg"></i></th>
        <th class="no-padding">
            <table class="table table-hover table-responsive table-bordered" id="tbtablausuario_@ViewBag.IdUsuario" style="width:100%;">
                <thead>
                    <tr>
                        <th>Area</th>
                        <th>Correo Del Area</th>
                        <th>Responsable</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </th>
    </tr>
</table>

<script>
    var idusuario = @ViewBag.IdUsuario;
    //var listareasid = @Html.Raw(Json.Encode(ViewBag.listAreasVer));
    
    var tabla_usuario = $(`#tbtablausuario_${idusuario}`).DataTable({

            autoWidth: true,
            responsive: true,
            language: {
                "emptyTable": "No se encontraron resultados.",
                //"searUrlh": '<div class="icon-addon addon-md"><label for="search" class="ion-search"></label>',
                "paginate": {
                    first: "Primero",
                    previous: "Anterior",
                    next: "Siguiente",
                    last: "Ultimo"
                },
                "lengthMenu": " _MENU_ ",
                "info": "Mostrando registros del _START_ al _END_ de _TOTAL_ registros totales.",
                "infoEmpty": "No hay registros para mostrar.",
            },

            //order: [[1, "desc"]],
            ajax: {
                url: '@Url.Action("DataSubtablaUsuarioAreasVer", "Usuario")',
                data: { idusuario: idusuario},
                dataSrc: function (data) {
                    console.log(data);

                    return data;
                }
            },
            columns: [
                {
                    data: 'fcDescripcion'
                },
                {
                    data: 'fcCorreoElectronico'
                },
                {
                    data: 'fcNombreCorto'
                }
            ]

        });
</script>
