
@model OrionCoreCableColor.Models.Usuario.UsuariopoAreasViewModel

<!--Modal header-->
<div class="modal-header bg-primary-600 bg-primary-gradient">

    @if (Model.EsEditar)
    {<h2 class="modal-title text-white">Editar Asignaciones</h2> }
    else
    {<h2 class="modal-title text-white">Que Areas Vera El Usuario</h2>}

    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fal fa-times"></i></span>
    </button>
</div>

<!--Modal body-->
<div class="modal-body">
    <form id="MyFormModal">
        @Html.HiddenFor(model => model.fiIdUsuarioverArea)

        <div class="form-group">
            <label class="control-label font-12">Usuario</label>

            <div class="input-group mar-btm">
                <select id="selectUsuarios" class="form-select form-control">
                </select>
            </div>
        </div>

        <div class="form-group" id="listaAreas">

        </div>


        <div class="modal-footer">
            <div class="clearfix" style="width:100%;">
                <button data-dismiss="modal" class="btn btn-link waves-effect waves-themed float-left btn-lg text-danger" type="button"><i class="text-lg ion-close-round"></i></button>
                <button onclick="GuardarDatos()" class="btn btn-link btn-lg waves-effect waves-themed float-right text-success"><i class="text-lg ion-checkmark-round"></i></button>
            </div>
        </div>
    </form>
</div>

<script>
    var listaareas =  @Html.Raw(Json.Encode(ViewBag.ListaAreas));
    var guardarareas = [];
    selectareas();
    function selectareas() {
        llenarDrop();
        console.log(listaareas);
        var opciones = `<div class="col-xl-12">
                        <div id="panel-1" class="panel">`;
        for (const item of listaareas) {
            opciones += `
                        <div class="custom-control custom-checkbox">

                            <input id="${item.fiIDArea}" class="custom-control-input" style="margin-left:auto; margin-right:auto;"  type="checkbox" value="${item.fiIDArea}" id="CheckCheckedFallaSErvicios" name ="CheckCheckedFallaSErvicios"  > <label></label>
                            <label class="custom-control-label" for="${item.fiIDArea}">${item.fcDescripcion}</label>
                        </div>`;
        }
        opciones += `</div></div>`;
        $(`#listaAreas`).append(opciones);
    }

    $(document).on('change', 'input[name="CheckCheckedFallaSErvicios"]', function () {
        //debugger

        // Iterar sobre los checkboxes y sumar los valores de los checkboxes seleccionados
        var select = []
        $('input[name="CheckCheckedFallaSErvicios"]:checked').each(function () {
            console.log(`entro en el if`);
            //var idfer = parseInt($(`#producto-${this.id}`).val());
            select
            select.push(+this.id)
        });
        guardarareas = select;
    });
    //llenarDrop();
    function llenarDrop() {
        $.ajax({
            url: "@Url.Action("SelectUsuariosAll", "LlenarCampos")",
            type: "GET",
            success: function (respuesta) {

                var selectusuarios = $("#selectUsuarios");

                selectusuarios.empty();
                selectusuarios.append($('<option>', {
                    value: 0,
                    text: 'Selecciones un Usuario'
                }));
                $("#selectUsuarios").select2({ dropdownParent: $("#MyModalContent") }).val(null).trigger("change");
                $.each(respuesta, function(index, item) {
                    selectusuarios.append($('<option>', {
                        value: item.Value,
                        text: item.Text
                    }));
                });
            },
            error: function (respuesta) {
                console.log(respuesta);
            }
        });
    }



    $("#MyFormModal").submit(function (event) {
        event.preventDefault();
        
        debugger
        var idusuario = $(`#selectUsuarios`).val();
        var idusuar = ``;

        for (const item of guardarareas) {
            idusuar += ','+item
        }

        $.ajax({
            url: "@Url.Action("EditarAreasaVerPorUsuario", "Catalogos")",
            type: 'POST',
            data: { idusuario: idusuario, idareas: idusuar},
            success: function (data) {
                if (data.Estado) {
                    CerrarModal();
                    $.fn.dataTable.Api("#TablausuarioPorAreas").ajax.reload().draw(false);
                }
                AlertaAjax(data);
            },
            error: function (data) {
                AlertaError();
            },
        });


    });

    function GuardarDatos() {

    }


</script>

