
<style>
    /* Important part */
    .modal-dialog {
        overflow-y: initial !important
    }

    .modal-body {
        /*height: 80vh;*/
        overflow-y: auto;
    }
</style>



<div class="modal fade" id="MyModalBig2"tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-xl" role="document" id=""style="width: 90%;">
        <div class="modal-content" id="MyModalContentBig2">


        </div>
    </div>
</div>

<div class="modal fade" id="MyModalImage" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="myModalLabel" style="z-index: 2150">
    <div class="modal-dialog modal-xl" role="document">
        
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <center>
                    <h3 id="TituloImagen">Hola</h3>
                    <img id="ImageBig" src="" class="img-responsive img-thumbnail" style="width:auto; height:auto;" />
                </center>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="MyModalBig" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false" data-keyboard="false" style="z-index: 1040">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" id="MyModalContentBig">
            <!-- Contenido del modal grande -->
        </div>
    </div>
</div>

<div class="modal fade" id="MyModalBigSignalR" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" id="MyModalContentBigSignalR">


        </div>
    </div>
</div>


<div class="modal fade" id="MyModalSm" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" id="MyModalContentSmall">


        </div>
    </div>
</div>

<div class="modal fade" id="MyModal" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" id="MyModalContent">

        </div>
    </div>
</div>


<div class="modal fade" id="MyModalBig3" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content" id="MyModalContentBig3">


        </div>
    </div>
</div>





<div class="modal fade" id="MyModalContrato" tabindex="-1" z-index="" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-xl" role="document" id="">
        <div class="modal-content" id="">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="DestruirContenido()">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <center>
                    <h3 id="TituloContrato">Hola</h3>
                    <div id="divContrato">

                    </div>

                </center>

            </div>
        </div>
    </div>
</div>

<!--<div class="modal fade default-example-modal-left-sm" id="ModalLeft" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-left modal-dialog-scrollable modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4" id="titulomodalIzquierda">Large right side modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body" id="bodyModalIzquierda">
                
            </div>
            <div class="modal-footer">-->
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>*@
            <!--</div>
        </div>
    </div>
</div>-->

<div class="modal fade default-example-modal-right" id="ModalLeft" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-right modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4"  id="titulomodalIzquierda" >Large right side modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body" id="bodyModalIzquierda">
                
                
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="MyModalViewer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="TituloArchivo" class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div id="divContenidoArchivo"></div>
            </div>
        </div>
    </div>
</div>



<script>
  
    function ShowBigImage(boton) {
        
        var sourc = $(boton).attr('src');
        $("#TituloImagen").text($(boton).attr("data-Description"));
        $('#ImageBig').attr('src', sourc);
        $('#MyModalImage').modal("show");
    }

    function ShowBigImageSrc(src){
        $('#ImageBig').attr('src', src);
        $('#MyModalImage').modal("show");
    }

    function ShowBigPdf(descripcion, carpeta, tipe = "application/pdf") {
        debugger;
        @*$.ajax({
            url:"@Url.Action("GetContentDocument","Base")",
            type: "Get",
            data: { tipo: "pdf", carpeta: carpeta, nombreArchivo: descripcion },
            success: function (resp) {
                
            }
        });*@

        $("#divContrato").empty();
        var embed = $(`<embed src="" id="DocumentoBig" type="${tipe}"  class="img-responsive img-thumbnail" style="width:100%;height:500px;" />`);
        $("#TituloContrato").text(descripcion);
        debugger;
        //$(embed).attr('src', "data:application/pdf;base64," + resp);
        $(embed).attr('src', carpeta);
        $(embed).css("height", window.innerHeight - (window.innerHeight * 0.25) + "px");
        $("#divContrato").append(embed);
        $('#MyModalContrato').modal("show");
        
        
    }

    function ShowLeftModal(descripcion, Titulo) {
        $(`#bodyModalIzquierda`).empty();
        //$("#bodyModalIzquierda .modal-body").css("height", '80vh');
        $("#bodyModalIzquierda").html(descripcion);
        $("#titulomodalIzquierda").text(Titulo);
        $("#ModalLeft").modal("show");
    }

    function DestruirContenido()
    {
        debugger;
        $("#divContrato").empty();
    }



    function ShowFileViewer(nombreArchivo, extensionArchivo, urlArchivo) {
        // Obtener el tipo MIME basado en la extensión
        const tipoArchivo = getMimeTypeByExtension(extensionArchivo);

        // Establecer el título del modal
        $("#TituloArchivo").text(nombreArchivo);

        // Limpiar contenido previo
        $("#divContenidoArchivo").empty();

        // Generar contenido dinámico basado en el tipo de archivo
        let contenido = "";

        if (tipoArchivo.startsWith("image/")) {
            contenido = `<img src="${urlArchivo}" class="img-fluid img-thumbnail" style="max-height: 500px;"/>`;
        } else if (tipoArchivo === "application/pdf") {
            contenido = `<embed src="${urlArchivo}" type="application/pdf" style="width: 100%; height: 500px;" />`;
        } else if (tipoArchivo.startsWith("video/")) {
            contenido = `<video controls style="width: 100%; max-height: 500px;">
                        <source src="${urlArchivo}" type="${tipoArchivo}">
                        Tu navegador no soporta reproducción de video.
                     </video>`;
        } else if (
            tipoArchivo === "application/msword" ||
            tipoArchivo === "application/vnd.openxmlformats-officedocument.wordprocessingml.document" ||
            tipoArchivo === "application/vnd.ms-excel" ||
            tipoArchivo === "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
        ) {
            contenido = `<iframe src="https://view.officeapps.live.com/op/embed.aspx?src=${encodeURIComponent(
                urlArchivo
            )}" style="width: 100%; height: 500px; border: none;"></iframe>`;
        } else {
            contenido = `<p>Tipo de archivo no soportado para vista previa.</p>`;
        }

        // Insertar contenido en el modal
        $("#divContenidoArchivo").html(contenido);

        // Mostrar el modal
        $("#MyModalViewer").modal("show");
    }


    function getMimeTypeByExtension(extension) {
        return mimeTypes[extension.toLowerCase()] || 'application/octet-stream'; // Valor por defecto para no reconocidos
    }

    const mimeTypes = {
        'jpeg': 'image/jpeg',
        'jpg': 'image/jpeg',
        'png': 'image/png',
        'gif': 'image/gif',
        'pdf': 'application/pdf',
        'doc': 'application/msword',
        'docx': 'application/vnd.openxmlformats-officedocument.wordprocessingml.document',
        'xls': 'application/vnd.ms-excel',
        'xlsx': 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
        'mp4': 'video/mp4',
        'avi': 'video/x-msvideo',
        'mkv': 'video/x-matroska',
        'txt': 'text/plain',
        'csv': 'text/csv',
        // Agregar más si es necesario
    };

</script>




